<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <title>UMMS Citrix Migration Project Dashboard</title>
</head>

<body>

  <nav class="navbar navbar-dark bg-dark navbar-expamd-sm">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">UMMS Citrix Migration Project Dashboard</a>
      </div>
    </div>
  </nav>

</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <canvas id="appsChart45"></canvas>
    </div>

    <div class="col-sm-3">
        <canvas id="appsChart65"></canvas>
    </div>

    <div class="col-sm-3">
        <canvas id="farmsChart45"></canvas>
    </div>

    <div class="col-sm-3">
      <canvas id="farmsChart65"></canvas>
    </div>

  </div>
</div>  
  <script>
    let appsChart45 = document.getElementById('appsChart45').getContext('2d');
    let appsChart65 = document.getElementById('appsChart65').getContext('2d');
    let farmsChart45 = document.getElementById('farmsChart45').getContext('2d');
    let farmsChart65 = document.getElementById('farmsChart65').getContext('2d');
    

    let appsBarChart45 = new Chart(appsChart45, {
      type:'horizontalBar', // bar, horizontal bar, pie, line, radar, donut, polar area
    
      data:{
        labels:['BWMC 4.5', 'MTC 4.5', 'SHS 4.5', 'CRMC 4.5', 'UMMS 4.5', 'Kernan 4.5', 'Chester River 4.5', 'Natus 4.5'], 
        datasets:[{
          label:'Apps Remaining',
          data:[
            19,
            4,
            8,
            18,
            5,
            1,
            10,
            1
          ],
          backgroundColor:[
            'deepskyblue',
            'gray',
            'orange',
            'deepskyblue',
            'gray',
            'orange',
            'deepskyblue',
            'gray'
          ],
          borderWidth:1,
          borderColor:'#777'
        }]
      },
      options:{
        title:{
          display:true,
          text:'4.5 Apps Remaining by Farm',
          fontSize:18
        }
      }
    });

    let appsBarChart65 = new Chart(appsChart65, {
      type:'horizontalBar', // bar, horizontal bar, pie, line, radar, donut, polar area
    
      data:{
        labels:['BWMC 6.5', 'MTC 6.5', 'UMMS 6.5', 'Epic 6.5', 'PlaceHolder 6.5'], 
        datasets:[{
          label:'Apps Remaining',
          data:[
            5,
            20,
            30,
            40,
            50
          ],
          backgroundColor:[
            'deepskyblue',
            'gray',
            'orange',
            'deepskyblue',
            'gray'
          ],
          borderWidth:1,
          borderColor:'#777'
        }]
      },
      options:{
        title:{
          display:true,
          text:'6.5 Apps Remaining by Farm',
          fontSize:18
        }
      }
    });

    let farmsBarChart45 = new Chart(farmsChart45, {
      type:'pie', // bar, horizontal bar, pie, line, radar, donut, polar area
    
      data:{
        labels:['Remaining', 'Completed'], 
        datasets:[{
          label:'Farms to Decommission',
          data:[
            7,
            1
          ],
          backgroundColor:[
            'orange',
            'deepskyblue',
          ],
          borderWidth:1,
          borderColor:'#777'
        }]
      },
      options:{
        title:{
          display:true,
          text:'XenApp 4.5 and 5.0 Farms',
          fontSize:18
        }
      }
    });

    let farmsBarChart65 = new Chart(farmsChart65, {
      type:'pie', // bar, horizontal bar, pie, line, radar, donut, polar area
    
      data:{
        labels:['Remaining', 'Completed'], 
        datasets:[{
          label:'Farms to Decommission',
          data:[
            5,
            0
          ],
          backgroundColor:[
            'orange',
            'deepskyblue',
          ],
          borderWidth:1,
          borderColor:'#777'
        }]
      },
      options:{
        title:{
          display:true,
          text:'XenApp 6.5 Farms',
          fontSize:18
        }
      }
    })

  </script>
<hr class="hr">
<nav class="navbar navbar-dark bg-dark navbar-expamd-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Applications scheduled to be migrated this week</a>
    </div>
  </div>
</nav>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">App Name</th>
      <th scope="col">Farm</th>
      <th scope="col">User Count</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>CareMedic</td>
      <td>Chester River 4.5</td>
      <td>4</td>
      <td>1-11-2018</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Pyxis Console</td>
      <td>Chester River 4.5</td>
      <td>3</td>
      <td>1-11-2018</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>ImageCube</td>
      <td>Chester River 4.5</td>
      <td>12</td>
      <td>1-11-2018</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>DataCheck</td>
      <td>Chester River 4.5</td>
      <td>5</td>
      <td>1-11-2018</td>
    </tr>
    
  </tbody>
</table>

<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Applications scheduled to be migrated next week</a>
    </div>
  </div>
</nav>

<table class="table table-bordered">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">App Name</th>
      <th scope="col">Farm</th>
      <th scope="col">User Count</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>MetaVision</td>
      <td>UMMS 4.5</td>
      <td>45</td>
      <td>1-17-2018</td>
    </tr>

  </tbody>
</table>

</body>
</html>